@import url("https://fonts.googleapis.com/css2?family=Roboto");

:root {
  --contorno: #aaa;
  --fundo: #212529;
  --vazio: #fff;

  --status-0: #ffffff; /* Nenhuma interação */
  --status-1: #8cd68f; /* Reside */
  --status-2: #ffcc80; /* Já residiu */
  --status-3: #90caf9; /* Lazer */
  --status-4: #e98d8d; /* Trabalho */
  --status-5: #ce9fd6; /* Lazer + Trabalho */
  --status-6: #fff59d; /* Apenas passagem */
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--fundo);
}
g {
  margin: 0px;
  padding: 0px;
}
text {
  font: 12px Roboto, sans-serif;
  stroke: var(--fundo);
  cursor: default;
  user-select: none;
}

#usage {
  background-color: var(--contorno);
  border: 1px solid var(--vazio);
  border-radius: 25px;
  color: var(--fundo);
  padding: 0px 5px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.legenda {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.legenda-item {
  display: flex;
  align-items: center;
}
.legenda-item span {
  color: var(--vazio);
  padding-right: 10px;
}
.legenda-color {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  border: 1px solid var(--contorno);
  text-align: center;
}

.query-table {
  display: flex;
  justify-content: center;
}
.query-table table {
  border-collapse: collapse;
}
.query-table th,
.query-table td {
  padding: 4px 7px;
  text-align: center;
}
.query-table th {
  border: 1px solid var(--vazio);
  color: var(--vazio);
}
.query-table td {
  border: 1px solid var(--contorno);
}

.status-0 {
  background-color: var(--status-0);
  fill: var(--status-0);
}
.status-1 {
  background-color: var(--status-1);
  fill: var(--status-1);
}
.status-2 {
  background-color: var(--status-2);
  fill: var(--status-2);
}
.status-3 {
  background-color: var(--status-3);
  fill: var(--status-3);
}
.status-4 {
  background-color: var(--status-4);
  fill: var(--status-4);
}
.status-5 {
  background-color: var(--status-5);
  fill: var(--status-5);
}
.status-6 {
  background-color: var(--status-6);
  fill: var(--status-6);
}
